@page "/zap/change/{ZapId:guid}"

@using Microsoft.AspNetCore.Authorization;
@using MedicalExaminationPreliminaryLists.Share.DTOs

@attribute [Authorize(Roles = "Admin")]
@attribute [StreamRendering]

@inject HttpClient httpClient
@inject NavigationManager _navigationManager


<PageTitle>Изменить запись</PageTitle>

<div>
    <p>
        Порядковый номер:<br />
        <input @bind-value="zap.ZAPNumber" />
    </p>
    <p>
        Год:<br />
        <input @bind-value="zap.Year" />
    </p>
    <p>
        Фамилия:<br />
        <input @bind-value="zap.Surname" />
    </p>
    <p>
        Имя:<br />
        <input @bind-value="zap.Name1" />
    </p>
    <p>
        Отчество:<br />
        <input @bind-value="zap.Name2" />
    </p>
    <p>
        Дата рождения:<br />
        <input @bind-value="zap.Birthday" />
    </p>
    <p>
        Телефонный номер:<br />
        <input @bind-value="zap.TelephoneNumber" />
    </p>
    <p>
        <button type="button" class="btn btn-primary" @onclick="Submit">Сохранить</button>
    </p>
</div>


@code {
    [Parameter]
    public Guid ZapId { get; set; }

    ZAPMainRecordModel zap = new();

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    async Task LoadData()
    {
        zap = await httpClient.GetFromJsonAsync<ZAPMainRecordModel>($"{httpClient.BaseAddress}/Zaps/{ZapId}") ?? zap;
    }

    async Task Submit()
    {
        await httpClient.PutAsJsonAsync($"{httpClient.BaseAddress}/Zaps/{zap.Id}", zap);

        _navigationManager.NavigateTo($"zaps/{zap.UploadFileId}");
        await LoadData();
    }
}

